/* Global Variable */
:root {
    
    font-family: "DM Sans" !important;
  
    /* Font sizes */
    --h1-bold-size: 32px;
    --h2-normal-size: 24px;
    --body1-normal-size: 16px;
    --body2-normal-size: 14px;
  
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #fafafa;
    --color-gray-200: #141414;
    --primary-blue: #5271ff;
    --hover-blue: #4a66e6;
    --background-blue: #f0effa;
    --color-darkslategray: #3a3a3a;
  
    /* Gaps */
    --gap: 10px;
  
    /* Paddings */
    --padding: 10px;
  
    /* Border radiuses */
    --br: 10px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans" !important;
    background-color: var(--color-white);
    color: var(--color-gray-200);
    line-height: 2;
    height: 100vh;
  }
  
  /* For login signup */
  body.login-body {
    padding: 0;
    margin: 0;
    font-weight: 500;
    line-height: normal;
  }
  
  h1 {
    font-size: var(--h1-bold-size);
  }
  
  h2 {
  font-size: var(--h2-normal-size);
  }
  
  a.hyper-link{
  text-decoration: none;
  color: var(--primary-blue);
  }
  
  a.hyper-link:hover {
  text-decoration: underline;
  }
  
  
  .small {
    font-size: 80%;
    text-align: center;
  }
  /* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

/* .gradient {
  height: fit-content;
  z-index: 1;
  width: 100%;
  pointer-events: none;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: relative;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
} */

  .preloader-wrapper{
    position:  fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all .4s ease;
  }

  .fade-out-animation{
    opacity: 0;
    visibility: hidden;
  }
  /* Split-screen */
  .split-screen {
  display: flex;
  flex-direction: column;
  }
  
  
  .left {
  height: 200px;
  background: var(--primary-blue);
  }
  
  .left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .logo-container img {
  max-width: 150px;
  height: auto;
  }
  
  .left .content {
  color: var(--color-white);
  text-align: left;
  margin-left: 20px;
  }
  
  .left p {
  font-weight: 400;
  }
  
  
  .right .content {
  color: var(--color-gray-200);
  text-align: center;
  }
  
  .right .content p {
  margin: 1.5em 0;
  font-size: 0.875rem;
  }
  
  .right form {
  width: 328px;
  }
  
  .message-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  }
  
  .message {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
  }
  
  .terms-content {
    text-align: left;
    padding: 40px 100px;
    margin: 20px 60px 60px 60px;
}
  
  /* Input field */
  form.login-form input[type="text"],
  form.login-form input[type="email"],  
  form.login-form input[type="password"],
  form.signup-form input[type="text"],
  form.signup-form input[type="email"],  
  form.signup-form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
  }
  
  .input-container .password {
    position: relative;
  }
  
  .input-container .password i {
    position: absolute;
    top: 42px;
    right: 16px;
  }

  .input-container {
    text-align: left;
}
  
  /* .checkmark {
    width: 48px;
    height: 48px;
    background: var(--color-white);
    border-radius: 4px;
    top: -4px;
    left: 0;
  }
  
  .checkmark:after {
    position: relative;
    display: none;
  }
   */
  
  /************ BUTTONS *************/
  .login-btn, 
  .signup-btn,
  .send-email-btn,
  .verify-otp-btn{
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: var(--color-white);
    font-weight: 100;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
  }
  
  .login-btn:hover,
  .signup-btn:hover,
  .send-email-btn:hover,
  .verify-otp-btn:hover{
    background-color: var(--hover-blue);
  }

  .upload-btn:hover {
    background-color: var(--hover-blue);
  }
  
  .space {
    height: 100vh;
  }

.forgot-password-container {
  background-color: var(--color-white);
  padding: var(--padding);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}

.forgot-password-title {
    font-size: var(--h1-bold-size);
    color: var(--color-gray-200);
    margin: var(--gap) 0;
}

.input-field,
.otp-field {
    margin: var(--gap) 0;
}

.input-field label,
.otp-field label {
    font-size: var(--body2-normal-size);
    color: var(--color-darkslategray);
    display: block;
    text-align: left;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.error-message {
color: rgb(128, 0, 0);
margin-bottom: 10px;
}

.input-field input,
.otp-field input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    border: 1px solid #ccc;
}

/* .send-email-button,
.verify-otp-button {
    background-color: var(--primary-blue);
    color: var(--color-white);
    padding: 1rem;
    width: 350px;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    cursor: pointer;
}

.send-email-button:hover,
.verify-otp-button:hover {
    background-color: var(--hover-blue);
} */

  .dashboard-body {
    font-family: "DM Sans" !important;
    background-color: var(--color-white);
    color: var(--color-gray-200);
    line-height: 2;
  }
  
  /* Navbar */
  .navbar {
    background-color: var(--primary-blue);
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* To separate logo and links */
    align-items: center;
  }
  
  .navbar .logo {
    display: flex;
    align-items: center;
  }
  
  .navbar .logo img {
    width: 40px; 
    height: auto; 
    margin-right: 10px;
  }
  
  .navbar h1 {
    font-size: 20px; 
    color: var(--color-white); 
    margin: 0; 
    font-weight: 300;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar ul li {
    margin: 0 20px;
    font-size: 14px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
  }
  
  /* Search Bar Styles */
  .navbar form {
    display: flex;
    align-items: center;
  }
  
  .navbar input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .navbar button[type="submit"] {
    background-color: var(--color-white); 
    color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .navbar button[type="submit"]:hover {
    background-color: var(--hover-blue);
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }
  
  /* Styling for the modal container */
  .modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the modal content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
  }
  
  /* Styling for the close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* Styling for the buttons in the modal */
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .content {
    text-align: center;
    padding: 20px;
  }
  
  .content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 1rem;
  }

  .main-content {
    position: relative;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    z-index: 1;
  }

  .main-content h1 {
    font-size: 60px;
    font-weight: bold;
    color: #333;
    display: inline-block;
  }
  
  .main-content h1 .gradient-text {
    /* background: linear-gradient(to right, #5271ff, #00a1e9); */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

/* Switch Box Styles */
.switch-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

/* Button Box Styles */
.button-box {
  position: relative;
  margin: 40px auto;
  background: #f0effa;
  padding: 10px;
  border-radius: 8px;
  
}

.main-content p {
  font-size: 20px;
  line-height: 1.5;
  color: #555; 
}
  
  /* Drag Drop */
  .drag-area {
    text-align: center;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: 20px auto;
  }
  
  .drag-area .icon {
    font-size: 48px;
    color: var(--primary-blue);
  }
  
  .drag-area h2 {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  .upload-area {
    border: 1px dashed #ccc;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
  }

  .upload-area input {
    display: none;
}


  
  .submit-btn {
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .drag-area button.upload-btn {
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .drag-area button.upload-btn:hover {
    background: #4a66e6;
  }
  

  .summarize-btn {
    text-align: center;
  }
  
  .summarize-btn input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: var(--color-white);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .summarize-btn input[type="submit"]:hover {
    background-color: var(--hover-blue);
  }
  
  .summary-box {
    text-align: left;
    max-width: 80%;
    margin: 20px auto;
    margin-top: 20px;
    overflow: hidden;
  }

  .document-box{
    text-align: left;
    max-width: 80%;
    margin: 20px auto;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .summary-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 10px;
  }

  .gradient-text {
    background: linear-gradient(to right, #5271ff, #00a1e9); 
    -webkit-background-clip: text;
    color: transparent; 
    padding: 5px; 
  }
  
  .summary-content {
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    margin: 10px;
    /* padding-top: 10px; */
    color: #555;
  }
  
  
  /* Docs */
  .document-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 40px;
    padding: 20px;
  }

  .document-section {
    width: 100%;
}
  
  /* Document */
  .document {
    padding: 20px;
    border-radius: 6px;
    background-color: var(--color-white);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
    overflow: hidden;
  }

  .document:hover {
    background-color: #f0f8ff;
    backdrop-filter: blur(8px);
}
  
  .document:nth-child(3n) {
    margin-right: 0;
  }
  
  .document h2 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  .document p {
    font-size: 0.875rem;
  }
  
  .document-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

  /* .see-more-btn {
    background-color: var(--primary-blue); 
    color: var(--color-white); 
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }
  
  .see-more-btn:hover {
    background-color: var(--hover-blue);
  } */
  .see-more-btn {
    text-align: left;
    margin-top: 20px;
  }
  
  .browse-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .browse-button a , .see-more-btn a{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 5px;
  }
  
  .browse-button a:hover , .see-more-btn a:hover{
    background-color: var(--hover-blue);
  }
  
  /* Editor Box */
  .editor-box {
    width: 50%;
    margin: 20px auto;
    background-color: var(--color-gray-100);
    border: 1px solid #ccc;
    border-radius: var(--br);
    padding: var(--padding);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure text doesn't overflow */
  }
  
  
  .editor-title {
    font-size: var(--h2-normal-size);
    margin-bottom: var(--gap);
    text-align: center;
    color: var(--color-darkslategray);
  }
  
  /* Editor Textarea */
  .editor-box textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: var(--br);
    padding: var(--padding);
    font-size: var(--body1-normal-size);
    color: var(--color-darkslategray);
    resize: none; 
    overflow: auto; /* Add scrollbars when needed */
  }
  
  .back-button {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .back-button button{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: var(--color-white);
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }

  .back-button button:hover {
    background-color: var(--hover-blue);
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  /* Profile Section */
  .readonly-input {
    background-color: #f2f2f2; 
    color: #666; 
}
  .profile-info {
    background-color: var(--color-white);
    padding: var(--padding);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-info h1 {
    font-size: var(--h1-bold-size);
    color: var(--color-gray-200);
    margin: var(--gap) 0;
  }
  
  .profile-info form {
    text-align: left;
  }
  
  .input-field {
    margin: var(--gap) 0;
  }
  
  .input-field label {
    font-size: var(--body2-normal-size);
    color: var(--color-darkslategray);
  }
  
  .input-field input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    border: 1px solid #ccc;
  }
  
  .update-button {
    background-color: var(--primary-blue);
    color: var(--color-white);
    padding: 1rem;
    width: 350px;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: var(--hover-blue);
  }
  
  /* Password Change Section */
  .password-change {
    background-color: var(--color-white);
    padding: 0.75rem;
    border-radius: var(--br);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password-change h1 {
    font-size: var(--h1-bold-size);
    color: var(--color-gray-200);
    margin: var(--gap) 0;
  }
  
  .password-change form {
    text-align: left;
  }
  
  .password-change .input-field label {
    font-size: var(--body2-normal-size);
    color: var(--color-darkslategray);
  }
  
  .password-change .input-field input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    border: 1px solid #ccc;
  }
  
   .change-password-button {
    background-color: var(--primary-blue);
    color: var(--color-white);
    width: 350px;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  
  .change-password-button:hover {
    background-color: var(--hover-blue);
  } 

  .delete-account-button {
    background-color: #FF0000;
    color: var(--color-white);
    width: 350px;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .delete-account-button:hover {
    background-color: #CC0000;
  }
  
  
  footer {
    background-color: var(--primary-blue);
    color: var(--color-white);
    padding: 100px 0;
    margin-top: auto;
  }
  
  footer h3 {
    color: var(--background-blue);
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 5px;
  }
  
  footer a {
    color: var(--color-white);
    text-decoration: none;
  }
  
  footer a:hover {
    color: var(--hover-blue);
  }
  
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  /* Responsive Styles*/
  /* Small*/
  @media (max-width: 768px) {
    .document {
        width: 100%; 
        margin-right: 0px; 
    }
  
    .drag-area {
        max-width: 80%;
    }
    .editor-box {
      width: 80%;
      margin: 20px auto;
    }

    .back-button button {
      max-width: 150px;
  }

  }
  
  /* Responsive screen for login */
  @media screen and (min-width: 900px) {
    .split-screen {
        display: flex;
        flex-direction: row;
        overflow-y: auto; 
    }
    .right {
        /* display: flex; */
        width: calc(50% - 60px);
        height: 100%;
        overflow-y: auto; 
        padding: 60px;
        margin-left: 50%; 
        position: relative;
    }

    .left{
      width: 50%;
      height: 100vh;
      padding: 60px;
      position: fixed;
      
    }
  }