:root {
    /* fonts */
    font-family: "DM Sans";
  
    /* font sizes */
    --h1-bold-size: 32px;
    --h2-normal-size: 24px;
    --body1-normal-size: 16px;
    --body2-normal-size: 14px;
  
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #fafafa;
    --color-gray-200: #141414;
    --primary-blue: #5271ff;
    --hover-blue: #4a66e6;
    --background-blue: #f0effa;
    --color-darkslategray: #3a3a3a;

  
    /* Gaps */
    --gap: 10px;
  
    /* Paddings */
    --padding: 10px;
  
    /* border radiuses */
    --br: 10px;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: "DM Sans";
    font-weight: 500;
    line-height: normal;
  }

  h1{
    font-size: var(--h1-bold-size);
  }

  h2{
    font-size: var(--h2-normal-size);
  }
  
  a{
    text-decoration: none;
    color: var(--primary-blue);
  }
  a:hover{
    text-decoration: underline;
  }

.small{
  font-size: 80%;
  text-align: center;
}

.split-screen{
  display: flex;
  flex-direction: column;
}
.left{
  height: 200px;
  background: var(--primary-blue);
}
.left, .right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left .content{
  color: var(--color-white);
  text-align: center;
}

.left p{
  font-weight: 400;
}

.right .content{
  color: var(--color-gray-200);
  text-align: center;
}

.right .content p{
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right form{
  width: 328px;
}

form input[type="text"],
form input[type="email"],  
form input[type="password"]{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

label{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input-container .password{
  position: relative;
}

.input-container .password i{
  position: absolute;
  top: 42px;
  right: 16px;
}

.checkbox-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container{
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked~.checkmark{
  background-color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
}

.checkmark{
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--color-white);
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  top:-4px;
  left: 0;
}

.checkmark:after{
  content: "";
  position: relative;
  display: none;
  place-content: center;
}

.checkbox-container input:checked~.checkmark:after{
  display: block;
}

.checkbox-container .checkmark::after{
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
}

.login-btn{
  display: block;
  width:100%;
  background: var(--primary-blue);
  color: var(--color-white);
  font-weight: 100;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
}

.login-btn:hover{
  background: var(--hover-blue);
}

@media screen and (min-width: 900px){
  .split-screen{
    flex-direction: row;
    height: 100vh;
  }
  .left, .right{
    display: flex;
    width: 50%;
    height: auto;
  }
}

