<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/dashstyle.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" type="image/x-icon" href="./static/images/Paperlify Logo Blue.png">
    <title>Deactivate Account</title>
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput = document.getElementById('confirm-password');
        var showPasswordCheckbox = document.querySelector('input[type="checkbox"]');

        showPasswordCheckbox.addEventListener('change', function () {
            if (showPasswordCheckbox.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    });
</script>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger m-2 alert-dismissible fade show " role="alert" id="msg">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- <div class="error-message">{{ message }}</div> -->
            {% elif message.tags == 'success' %}
            <div class="alert alert-success m-2 alert-dismissible fade show " role="alert" id="msg">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            {% elif message.tags == 'info' %}
            <div class="alert alert-info m-2 alert-dismissible fade show " role="alert" id="msg">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- <div class="success-message">{{ message }}</div> -->
            {% endif %}
        {% endfor %}
        {% endif %}

    <div class="back-button">
        <button onclick="goBack()">Back</button>
    </div>

    <section class="main-content">
        <h1>Deactivate Account</h1>
    </section>

    <div class="forgot-password-container">
        <section class="content">
            <form method="post" action="">
                {% csrf_token %}
                <div class="input-field">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm-password" required>
                </div>
                <div class="input-container" cta>
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span> Show Password
                    </label>
                </div>
                <button type="submit" class="delete-account-button" name="delete_account">Confirm Deactivation</button>
            </form>
        </section>
    </div>
    <script>
        // JavaScript function to navigate back in history
        function goBack() {
            window.history.back();
        }


        setTimeout(function(){
            var msgElement = document.getElementById('msg');
            if (msgElement) {
                msgElement.remove();
            }
        }, 3000);
    </script>
</body>

<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <p>Email: paperlify@gmail.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h3>Follow Us</h3>
          <ul>
            <li>
              <a href="#">Facebook</a>
            </li>
            <li>
              <a href="#">Twitter</a>
            </li>
            <li>
              <a href="#">Instagram</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>About Paperlify</h3>
          <p>Paperlify is a text summarization tool using AI. Experience a smarter, faster, and more streamlined approach to information retrieval with Paperlify - where understanding meets efficiency.</p>
        </div>
      </div>
    </div>
  </footer>
</html>
