{% extends "./base.html"%}
<script src="./static/script.js"></script>
{% block title %}Dashboard{% endblock %}

{% block template %}
{% comment %} <div class="preloader-wrapper">
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
</div> {% endcomment %}
{% if messages %}
  <div class="error-message">
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div>
  <section class="main-content">
      <h1 id="libraryTitle">Summarize article with <br><span class="gradient-text">Hugging Face</span></h1>
      <p>Simplify your reading with Paperlify, an AI based document summarizer that <br> transforms lengthy articles into clear and concise summaries </p>
  </section>
</div>

<div class="switch-box">
  <div class="button-box">
    <div id="t-btn"></div>
    <button type="button" class="toggle-btn" onclick="leftClick('hugging-face')"><i class="uil uil-smile icon fa-4x d-block"></i>Hugging Face</button>
    <button type="button" class="toggle-btn" onclick="rightClick('nltk-library')"><i class="uil uil-bolt icon fa-4x d-block"></i>NLTK Library</button>
  </div>
</div>

<style>
    textarea {
    width: 100%;
    border: none;
    outline: none;
  }

  .summarize-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-blue);
  color: var(--color-white);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.summarize-btn:hover {
  background-color: var(--hover-blue);
}

#file-name-container {
  position: relative;
  display: none;
  align-items: center;
  background-color: #f0effa; 
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  max-width: 100%;
}

#file-icon {
  font-size: 24px; /* Adjust icon size as needed */
  margin-right: 10px;
  color:var(--primary-blue);
}

#file-name {
  margin-top: 10px;
  margin: 0;
  color: #333;
  font-size: 16px;
}

#remove-file {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

#remove-file:hover {
  background-color: darkred;
}
.progress {
  display: none;
}
</style>


<div class="drag-area">
{% if error_message %}
    <div class="error-message">
        {{ error_message }}
    </div>
{% endif %}

  <form method="POST" action="" enctype="multipart/form-data" id="uploadForm">
      {% csrf_token %}
      {% comment %} <div class="icon"><i class="uil uil-file-upload"></i></div>
      <h2>Upload a document</h2> {% endcomment %}
      <div class="upload-area" onclick="document.getElementsByClassName('fileInput')[0].click()">
            <p>Drag and drop files here or click to select files</p>
            <input type="file" class="fileInput" id="file" name="file" accept=".txt, .pdf, .doc, .docx" onchange="displayFileName()">
        </div>
        <div id="file-name-container">
          <span id="file-icon"><i class="uil uil-file-alt"></i></span> 
          <!-- You can replace this with the actual icon code or use an image -->
          <p id="file-name"></p>
          <button id="remove-file" onclick="removeFile()">X</button>
        </div>
      {% if error %}
          <p class="message"> {{ error }} </p>
          {% endif %}
      <button class="upload-btn" type="submit" onclick="uploadFile()">Upload</button>
      <div class="progress" style="margin-top: 20px;">
        {% comment %} <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div> {% endcomment %}
        <div id="progress-bar" class="progress-bar bg-success" role="progressbar" style="width: 0%; height: 20px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="https://malsup.github.io/jquery.form.js"></script> 
<script>
const libraryNames = ["Hugging Face", "NLTK Library"];
let currentLibraryIndex = 0;

// Function to update the library title with typewriter effect
function updateLibraryTitle() {
  const libraryTitleElement = document.getElementById('libraryTitle');
  const currentLibraryName = libraryNames[currentLibraryIndex];

  let index = 0;
  const intervalId = setInterval(function () {
    if (index <= currentLibraryName.length) {
      libraryTitleElement.innerHTML = `Summarize article with <br><span class="gradient-text">${currentLibraryName.slice(0, index)}</span>`;
      index++;
    } else {
      clearInterval(intervalId);
      setTimeout(function () {
        // Wait for a moment before starting the next library change
        currentLibraryIndex = (currentLibraryIndex + 1) % libraryNames.length;
        updateLibraryTitle();
      }, 1000);
    }
  }, 100);
}
updateLibraryTitle();

  var tbtn = document.getElementById('t-btn')

  function leftClick(modelName) {
    tbtn.style.left = '0';
    console.log('Left click:', modelName);
  }
  
  function rightClick(modelName) {
    tbtn.style.left = '130px';
    console.log('Right click:', modelName);
  }

    {% comment %} function displayFileName() {
        var input = document.getElementsByClassName('fileInput')[0];
        var fileName = input.files[0].name;
        document.getElementById('file-name').innerHTML = 'Selected file: ' + fileName;
    } {% endcomment %}


    function displayFileName() {
      var input = document.getElementsByClassName('fileInput')[0];
      
      if (input.files.length > 0) {
        var fileName = input.files[0].name;
        document.getElementById('file-name').innerHTML = 'Selected file: ' + fileName;
        
        // Show the file-name-container
        document.getElementById('file-name-container').style.display = 'flex';
      } else {
        // Hide the file-name-container if no file is selected
        document.getElementById('file-name-container').style.display = 'none';
      }
    }

    function removeFile() {
      var input = document.getElementsByClassName('fileInput')[0];
      var fileNameContainer = document.getElementById('file-name-container');
      
      // Clear the file input and hide the container
      input.value = '';
      fileNameContainer.style.display = 'none';
    }
    
    var uploadArea = document.getElementsByClassName('upload-area')[0];

    uploadArea.addEventListener('dragover', function (e) {
        e.preventDefault();
        uploadArea.style.border = '2px dashed #4caf50';
    });

    uploadArea.addEventListener('dragleave', function () {
        uploadArea.style.border = '2px dashed #ccc';
    });

    uploadArea.addEventListener('drop', function (e) {
        e.preventDefault();
        uploadArea.style.border = '2px dashed #ccc';

        var fileInput = document.getElementsByClassName('fileInput')[0];
        fileInput.files = e.dataTransfer.files;
        displayFileName();
    });

    function uploadFile() {
      $('.progress').show();
      var formData = new FormData($('#uploadForm')[0]);

      $.ajax({
          url: '/', 
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          xhr: function () {
              var xhr = new window.XMLHttpRequest();
              xhr.upload.addEventListener("progress", function (evt) {
                  if (evt.lengthComputable) {
                      var percentComplete = (evt.loaded / evt.total) * 100;
                      $('#progress-bar').css('width', percentComplete + '%');
                      $('#progress-bar').html(percentComplete.toFixed(2) + '%');
                  }
              }, false);
              return xhr;
          },
          success: function (data) {
              // Handle success response from the server
          },
          error: function (error) {
              // Handle error response from the server
          }
      });
  }
</script>


<!-- Show Document -->
<!-- {% comment %} <div class="editor-box">
  <form action="" method="post">
      {% csrf_token %}
      <div class="editor-title">Document Content</div>
      <textarea name="input_text" rows="10" cols="80">{{ content }}</textarea>
      <input class="summarize-btn" type="submit" name="summarize" value="Summarize"> 
  </form>
</div> {% endcomment %} -->

<div class="summary-box">
<div class="summary-title">Document <span class="gradient-text">Content</span></div>
<form action="" method="post">
<form method="post" action="{% url 'dashboard' %}" id="summarizeForm">
{% csrf_token %}
<div class="summary-content">
<textarea name="input_text" rows="10" cols="80">{{ content }}</textarea>
<input class="summarize-btn" type="submit" name="summarize" value="Summarize"> 
</form>
  </div>
</div>

<!-- Add the Summarized Document Editor -->
<!-- {% comment %} <div class="editor-box">
  <div class="editor-title">Summarized Document</div>
      <textarea rows="10" cols="80">{{ summary.0.summary_text }}</textarea>
</div> {% endcomment %} -->

<div class="summary-box">
  <div class="summary-title">Document <span class="gradient-text">Summary</span></div>
  <div class="summary-content">
      {{ summary.0.summary_text }}
  </div>
</div>


  {% comment %} <div>
      <section class="main-content">
          <h1>Recent Documents</h1>
      </section>
  </div>

<div class="document-container">
    <!-- Document 1 -->
    {% for document in documents %}
    <div class="document">
        <div class="document-info">
            <h2>{{ document.doc_name }}</h2>
            <p>Upload Time: {{ document.created_at }}</p>
            <p>{{ document.summarized_text|truncatewords:20 }}</p>
            <div class="browse-button">
                <a href="{% url 'document_detail' document.slug %}">View More</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No documents available.</p>
    {% endfor %}
</div>

<div class="browse-button">
  <a href="{% url 'mydocuments' %}">Browse All Documents</a>
</div> {% endcomment %}
{% endblock %}