{% extends "./base.html"%}
{% block title %}Dashboard{% endblock %}

{% block template %}

<div>
  <section class="content">
      <h1>Paperlify</h1>
      <p>Document to Text Summarization AI</p>
  </section>
</div>

<style>
  .upload-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
  }

  .upload-area input {
      display: none;
  }

    .submit-btn {
      display: block;
      width: 100%;
      background: var(--primary-blue);
      color: var(--color-white);
      font-weight: bold;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }
</style>

<div class="drag-area">
  <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="icon"><i class="uil uil-file-upload"></i></div>
      <h2>Upload a document</h2>
      <div class="upload-area" onclick="document.getElementsByClassName('fileInput')[0].click()">
            <p>Drag and drop files here or click to select files</p>
            <input type="file" class="fileInput" id="file" name="file" accept=".txt, .pdf, .doc, .docx" onchange="displayFileName()">
        </div>
      {% if error %}
          <p class="message"> {{ error }} </p>
          {% endif %}
          
      <button class="upload-btn" type="submit">Upload</button>
  </form>
</div>

<script>
    function displayFileName() {
        var input = document.getElementsByClassName('fileInput')[0];
        var fileName = input.files[0].name;
        document.getElementById('file-name').innerHTML = 'Selected file: ' + fileName;
    }

    var uploadArea = document.getElementsByClassName('upload-area')[0];

    uploadArea.addEventListener('dragover', function (e) {
        e.preventDefault();
        uploadArea.style.border = '2px dashed #4caf50';
    });

    uploadArea.addEventListener('dragleave', function () {
        uploadArea.style.border = '2px dashed #ccc';
    });

    uploadArea.addEventListener('drop', function (e) {
        e.preventDefault();
        uploadArea.style.border = '2px dashed #ccc';

        var fileInput = document.getElementsByClassName('fileInput')[0];
        fileInput.files = e.dataTransfer.files;
        displayFileName();
    });
</script>


<!-- Show Document -->
<div class="editor-box">
  <form action="" method="post">
      {% csrf_token %}
      <div class="editor-title">Document Content</div>
      <textarea name="input_text" rows="10" cols="80">{{ content }}</textarea>
      <input class="summarize-btn" type="submit" name="summarize" value="Summarize"> 
  </form>
</div>



<!-- Add the Summarized Document Editor -->
<div class="editor-box">
  <div class="editor-title">Summarized Document</div>
  {% if summary %}
      <textarea rows="10" cols="80">{{ summary.0.summary_text }}</textarea>
  {% else %}
      <textarea rows="10" cols="80">No summary available</textarea>
  {% endif %}
</div>


  <div>
      <section class="content">
          <h1>Recent Documents</h1>
      </section>
  </div>

<!------------------------------------>
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
            <h3 class="mb-0">Post title</h3>
            <div class="mb-1 text-body-secondary">Nov 11</div>
            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
            </a>
          </div>
        </div>
      </div>
  </div>
<!------------------------------------>

<div class="document-container">
    <!-- Document 1 -->
    {% for document in documents %}
    <div class="document">
        <div class="document-info">
            <h2>{{ document.doc_name }}</h2>
            {% comment %} <p>Upload Time: {{ document.created_at }}</p> {% endcomment %}
            <p>{{ document.extracted_text|truncatewords:50 }}</p>
            <div class="browse-button">
                <a href="{% url 'document_detail' document.slug %}">View More</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No documents available.</p>
    {% endfor %}
</div>

<div class="browse-button">
  <a href="{% url 'mydocuments' %}">Browse All Documents</a>
</div>
{% endblock %}