{% extends "./base.html"%}
{% block title %}Dashboard{% endblock %}

{% block template %}

<div>
  <section class="main-content">
      <h1>Summarize article with <br><span class="gradient-text">Hugging Face</span></h1>
      <p>Simplify your reading with Paperlify, an AI based document summarizer that <br> transforms lengthy articles into clear and concise summaries </p>
  </section>
</div>

<div class="switch-box">
  <div class="button-box">
    <div id="t-btn"></div>
    <button type="button" class="toggle-btn" onclick="leftClick()"><i class="uil uil-smile icon fa-4x d-block"></i>Hugging Face</button>
    <button type="button" class="toggle-btn" onclick="rightClick()"><i class="uil uil-bolt icon fa-4x d-block"></i>NLTK Library</button>
  </div>
</div>

<style>
  {% comment %} .upload-area {
    border: 1px dashed #ccc;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
  } {% endcomment %}

  {% comment %} .upload-area input {
      display: none;
  } {% endcomment %}

    {% comment %} .submit-btn {
      display: block;
      width: 100%;
      background: var(--primary-blue);
      color: var(--color-white);
      font-weight: bold;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    } {% endcomment %}

    textarea {
    width: 100%;
    border: none;
    outline: none;
  }

  .summarize-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-blue);
  color: var(--color-white);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.summarize-btn:hover {
  background-color: var(--hover-blue);
}

</style>


<div class="drag-area">
{% if error_message %}
    <div class="error-message">
        {{ error_message }}
    </div>
{% endif %}

  <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% comment %} <div class="icon"><i class="uil uil-file-upload"></i></div>
      <h2>Upload a document</h2> {% endcomment %}
      <div class="upload-area" onclick="document.getElementsByClassName('fileInput')[0].click()">
            <p>Drag and drop files here or click to select files</p>
            <input type="file" class="fileInput" id="file" name="file" accept=".txt, .pdf, .doc, .docx" onchange="displayFileName()">
        </div>
        <p id="file-name"></p>
      {% if error %}
          <p class="message"> {{ error }} </p>
          {% endif %}
          
      <button class="upload-btn" type="submit">Upload</button>
  </form>
</div>

<script>
  var tbtn = document.getElementById('t-btn')

  function leftClick() {
    tbtn.style.left = '0'
  }
  
  function rightClick() {
    tbtn.style.left = '130px'
  }

    function displayFileName() {
        var input = document.getElementsByClassName('fileInput')[0];
        var fileName = input.files[0].name;
        document.getElementById('file-name').innerHTML = 'Selected file: ' + fileName;
    }

    var uploadArea = document.getElementsByClassName('upload-area')[0];

    uploadArea.addEventListener('dragover', function (e) {
        e.preventDefault();
        uploadArea.style.border = '2px dashed #4caf50';
    });

    uploadArea.addEventListener('dragleave', function () {
        uploadArea.style.border = '2px dashed #ccc';
    });

    uploadArea.addEventListener('drop', function (e) {
        e.preventDefault();
        uploadArea.style.border = '2px dashed #ccc';

        var fileInput = document.getElementsByClassName('fileInput')[0];
        fileInput.files = e.dataTransfer.files;
        displayFileName();
    });
    
</script>


<!-- Show Document -->
<!-- {% comment %} <div class="editor-box">
  <form action="" method="post">
      {% csrf_token %}
      <div class="editor-title">Document Content</div>
      <textarea name="input_text" rows="10" cols="80">{{ content }}</textarea>
      <input class="summarize-btn" type="submit" name="summarize" value="Summarize"> 
  </form>
</div> {% endcomment %} -->

<div class="summary-box">
<div class="summary-title">Document <span class="gradient-text">Content</span></div>
<form action="" method="post">
{% csrf_token %}
<div class="summary-content">
<textarea name="input_text" rows="10" cols="80">{{ content }}</textarea>
<input class="summarize-btn" type="submit" name="summarize" value="Summarize"> 
</form>
  </div>
</div>

<!-- Add the Summarized Document Editor -->
<!-- {% comment %} <div class="editor-box">
  <div class="editor-title">Summarized Document</div>
      <textarea rows="10" cols="80">{{ summary.0.summary_text }}</textarea>
</div> {% endcomment %} -->

<div class="summary-box">
  <div class="summary-title">Document <span class="gradient-text">Summary</span></div>
  <div class="summary-content">
      {{ summary.0.summary_text }}
  </div>
</div>


  {% comment %} <div>
      <section class="main-content">
          <h1>Recent Documents</h1>
      </section>
  </div>

<div class="document-container">
    <!-- Document 1 -->
    {% for document in documents %}
    <div class="document">
        <div class="document-info">
            <h2>{{ document.doc_name }}</h2>
            <p>Upload Time: {{ document.created_at }}</p>
            <p>{{ document.summarized_text|truncatewords:20 }}</p>
            <div class="browse-button">
                <a href="{% url 'document_detail' document.slug %}">View More</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No documents available.</p>
    {% endfor %}
</div>

<div class="browse-button">
  <a href="{% url 'mydocuments' %}">Browse All Documents</a>
</div> {% endcomment %}
{% endblock %}