{% extends "./base.html"%}
{% block title %}Document{% endblock %}
{% block slug_page %}{% endblock %}

{% block template %}

<style>
  .document-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 40px;
    padding: 20px;
  }

  .document {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px);
    margin-bottom: 20px;
  }
  
  .document:nth-child(3n) {
    margin-right: 0;
  }

/* Responsive Styles for Document */
@media (max-width: 768px) {
    .document {
        width: 100%; 
        margin-right: 0;
    }
}
</style>

<body class="dashboard-body">
  <div class="back-button">
    <button onclick="goBack()">Back</button>
  </div>

    <div>
        <section class="main-content">
            <h1>{{document_obj.doc_name|safe}}</h1>
        </section>
    </div>

    <div class="document-container">
        <div class="document">
            <div class="document-info">
                <h3>Original Document</h3>
                <!-- <h2>{{document_obj.doc_name|safe}}</h2> -->
                <p>{{document_obj.extracted_text|safe}}</p>
              
            </div>
        </div>
        <div class="document">
            <div class="document-info">
                <h3>Summarized Document</h3>
                <!-- <h2>{{document_obj.doc_name|safe}}</h2> -->
                <p>{{document_obj.summarized_text|safe}}</p>
            </div>
        </div>
    </div>
</body>
<script>
  // JavaScript function to navigate back in history
  function goBack() {
    window.history.back();
}
</script>
{% endblock %}

