{% extends "./base.html"%}
{% block title %}Document{% endblock %}

{% block template %}
<style>
/* Global Variable */
:root {
    
    font-family: "DM Sans";
  
    /* Font sizes */
    --h1-bold-size: 32px;
    --h2-normal-size: 24px;
    --body1-normal-size: 16px;
    --body2-normal-size: 14px;
  
    /* Colors */
    --color-white: #fff;
    --color-gray-100: #fafafa;
    --color-gray-200: #141414;
    --primary-blue: #5271ff;
    --hover-blue: #4a66e6;
    --background-blue: #f0effa;
    --color-darkslategray: #3a3a3a;
  
    /* Gaps */
    --gap: 10px;
  
    /* Paddings */
    --padding: 10px;
  
    /* Border radiuses */
    --br: 10px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
    background-color: var(--color-white);
    color: var(--color-gray-200);
    line-height: 2;
    height: 100vh;
  }
  
  /* Navbar */
  .navbar {
    background-color: var(--primary-blue);
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* To separate logo and links */
    align-items: center;
  }
  
  .navbar .logo {
    display: flex;
    align-items: center;
  }
  
  .navbar .logo img {
    width: 40px; 
    height: auto; 
    margin-right: 10px;
  }
  
  .navbar h1 {
    font-size: 20px; 
    color: var(--color-white); 
    margin: 0; 
    font-weight: 300;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar ul li {
    margin: 0 20px;
    font-size: 14px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
  }
  
  /* Search Bar Styles */
  .navbar form {
    display: flex;
    align-items: center;
  }
  
  .navbar input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .navbar button[type="submit"] {
    background-color: var(--color-white); 
    color: var(--primary-blue);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .navbar button[type="submit"]:hover {
    background-color: var(--hover-blue);
    color: var(--color-white);
  }

  
  .content {
    text-align: center;
    padding: 20px;
  }
  
  .content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 1rem;
  }

  /* Docs */
  .document-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 40px;
    padding: 20px;
  }
  
  
  /* Document */
  .document {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
  
  .document:nth-child(3n) {
    margin-right: 0;
  }

  .document-info {
    text-align: left; /* Align text to the left */
}
  
  .document h2 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  .document p {
    font-size: 0.875rem;
  }
  
  .back-button {
    position: absolute;
    top: 80px;
    left: 60px;
  }
  
  .back-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  footer {
    background-color: var(--primary-blue);
    color: var(--color-white);
    padding: 100px 0;
    margin-top: auto;
  }
  
  footer h3 {
    color: var(--background-blue);
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 5px;
  }
  
  footer a {
    color: var(--color-white);
    text-decoration: none;
  }
  
  footer a:hover {
    color: var(--color-gray-200);
  }
  
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
/* Responsive Styles for Document */
@media (max-width: 768px) {
    .document {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0;
    }
}
  
</style>
<body class="dashboard-body">
    <div class="back-button">
        <a href="{% url 'dashboard' %}">Back</a>
    </div>

    <div>
        <section class="content">
            <h1>Document</h1>
        </section>
    </div>

    <div class="document-container">
        <div class="document">
            <div class="document-info">
                <h3>Original Document</h3>
                <h2>{{document_obj.doc_name|safe}}</h2>
                <p>{{document_obj.extracted_text|safe}}</P>
              
            </div>
        </div>
        <div class="document">
            <div class="document-info">
                <h3>Summarized Document</h3>
                <h2>{{document_obj.doc_name|safe}}</h2>
                <p>{{document_obj.summarized_text|safe}}</P>
                {% comment %} <h2>Document Title</h2>
                <p>Date of Upload: Sept 03, 2023</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel arcu nec justo dignissim euismod.
                   Ut euismod libero non malesuada. Phasellus id justo eu risus tempus cursus eu a ante. Nullam a metus vel urna pulvinar vulputate. Fusce volutpat dapibus magna, nec cursus dui suscipit eget. In scelerisque, lectus a consectetur bibendum, libero turpis tincidunt purus, nec luctus neque turpis vel orci. Sed scelerisque nunc in feugiat ullamcorper. Nulla facilisi. Curabitur elementum, dolor ac bibendum cursus, justo purus euismod urna, nec vehicula libero lectus non purus. Proin gravida, libero id lacinia fermentum, sapien ipsum faucibus tellus, nec placerat neque justo vel tortor.
                   Donec consectetur, justo eget placerat consectetur, felis est ultrices arcu, eu laoreet ligula ipsum nec sapien. Fusce id interdum justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Duis viverra, tortor vel efficitur gravida, lectus urna hendrerit tortor, at venenatis odio dolor non nisl. Quisque dapibus rhoncus dapibus. Duis dignissim turpis non justo dictum, eu aliquet risus ullamcorper. Fusce eleifend tristique leo, ac cursus dui vulputate nec. Curabitur non turpis elit.</p> {% endcomment %}
            </div>
        </div>
    </div>
</body>
{% endblock %}

