<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/dashstyle.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" type="image/x-icon" href="./static/images/Paperlify Logo Blue.png">
    <title>Paperlify | My Documents</title>
</head>
<body class="dashboard-body">
    <nav class="navbar">
        <div class="logo">
            <img src="./static/images/Paperlify Logo White.png" alt="Paperlify Logo"> 
            <h1>Paperlify</h1>
        </div>
        <ul>
            <li>
                <form action="" method="GET">
                    <input type="text" name="query" placeholder="Search documents">
                    <button type="submit">Search</button>
                </form>
            </li>
            <li><a href="{% url 'dashboard' %}">Upload Document</a></li>
            <li><a href="{% url 'mydocuments' %}">My Documents</a></li>
            <li><a href="{% url 'profile' %}">My Profile</a></li>
            <li><a href="{% url 'login' %}">Logout</a></li>
        </ul>
    </nav>

    <div>
        <section class="content">
            <h1>My Documents</h1>
        </section>
    </div>

    <div class="document-container">
        <!-- Document 1 -->
        {% for document in documents %}
        <div class="document">
            <div class="document-info">
                <h2>{{ document.title }}</h2>
                <p>Date of Upload: {{ document.time }}</p>
                <p>{{ document.text }}</p>
                <button class= "see-more-btn" type="submit">See More</button>
            </div>
        </div>
        {% empty %}
        <p>No documents available.</p>
        {% endfor %}


        <!-- Document 2 -->
        <div class="document">
            <a href="#">
                <div class="document-info">
                    <h2>Document 2 Name</h2>
                    <p>Date of Upload: Sept 03, 2023</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel arcu nec justo dignissim euismod.</p>
                </div>
            </a>
        </div>

        <!-- Document 3 -->
        <div class="document">
            <a href="#">
                <div class="document-info">
                    <h2>Document 3 Name</h2>
                    <p>Date of Upload: Sept 03, 2023</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel arcu nec justo dignissim euismod.</p>
                </div>
            </a>
        </div>

</div>
</body>
</html>