{% extends "./base.html" %}
{% load humanize %}
{% block title %}My Documents{% endblock %}

{% block template %}
<div>
    <section class="main-content">
        <h1>My Documents</h1>
        <!-- <p>Every document you summarized is saved here</p> -->
    </section>
</div>
  
<div class="document-container">
    {% if today_documents %}
    <!-- Today's Documents -->
    <div class="document-section">
        <h2>Today</h2>
        {% for document in today_documents %}
        <div class="document">
            <div class="document-info">
                {% if document.doc_name|length > 26 %}
                <h2>{{ document.doc_name|slice:":26"|add:"..." }}</h2>
            {% else %}
                <h2>{{ document.doc_name }}</h2>
            {% endif %}
                <p>Uploaded: {{ document.created_at|naturaltime }}</p>
                <p>{{ document.summarized_text|truncatewords:14 }}</p>
                <div class="action-buttons">
                    <a href="{% url 'document_detail' document.slug %}" class="btn btn-primary">View More</a>
                    <form action="{% url 'delete_document' document.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this document?');"><i class="fa fa-trash"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No documents available.</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if yesterday_documents %}
    <!-- Yesterday's Documents -->
    <div class="document-section">
        <h2>Yesterday</h2>
        {% for document in yesterday_documents %}
        <div class="document">
            <div class="document-info">
                {% if document.doc_name|length > 26 %}
                <h2>{{ document.doc_name|slice:":26"|add:"..." }}</h2>
            {% else %}
                <h2>{{ document.doc_name }}</h2>
            {% endif %}
                <p>Uploaded: {{ document.created_at|naturaltime  }}</p>
                <p>{{ document.summarized_text|truncatewords:14 }}</p>
                <div class="action-buttons">
                    <a href="{% url 'document_detail' document.slug %}" class="btn btn-primary">View More</a>
                    <form action="{% url 'delete_document' document.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this document?');"><i class="fa fa-trash"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No documents available.</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if previous_documents %}
    <!-- Previous Documents -->
    <div class="document-section">
        <h2>Previous</h2>
        {% for document in previous_documents %}
        <div class="document">
            <div class="document-info">
                {% if document.doc_name|length > 26 %}
                    <h2>{{ document.doc_name|slice:":26"|add:"..." }}</h2>
                {% else %}
                    <h2>{{ document.doc_name }}</h2>
                {% endif %}
                <p>Uploaded: {{ document.created_at|naturaltime  }}</p>
                <p>{{ document.summarized_text|truncatewords:14 }}</p>
                <div class="action-buttons">
                    <a href="{% url 'document_detail' document.slug %}" class="btn btn-primary">View More</a>
                    <form action="{% url 'delete_document' document.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this document?');"><i class="fa fa-trash"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No documents available.</p>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}
