{% extends "./base.html"%}
{% block title %}Profile{% endblock %}

{% block template %}
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this account?</div>
        <div class="modal-footer">
          <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
          <a href="{% url 'confirmpassword' %}" type="button" class="btn btn-primary">Delete</a>
          {% comment %} <form method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="delete_account">Delete</button>
        </form> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

<section class="content">
    <section class="main-content">
        <h1>My Profile</h1>
    </section>
    <div class="profile-info">
        <form action="" method="POST">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <p class="error-message">{{ message }}</p>
                    {% elif message.tags == 'success' %}
                        <p class="success-message">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            <div class="input-field">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <div class="input-field">
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" value="{{ user.first_name}}" required>
            </div>
            <div class="input-field">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ user.email}}" required>
            </div>
            <button type="submit" class="update-button" name="update_profile">Update Profile</button>
        </form>
    </div>

    <section class="main-content">
        <h1>Password</h1>
    </section>
    <div class="password-change">
        <form method="POST">
            {% csrf_token %}
            <div class="input-field">
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" name="current_password" required>
            </div>
            <div class="input-field">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new_password" required>
            </div>
            <div class="input-field">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm_password" required>
            </div>
            <button type="submit" class="change-password-button" name="change_password">Change Password</button>
        </form>
        <button type="submit" class="delete-account-button" name="delete_account" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
    </div>
</section>
{% endblock %}
