<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/dashstyle.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" type="image/x-icon" href="./static/images/Paperlify Logo Blue.png">
    <title>Create New Password</title>
</head>
<body>
    <div class="back-button">
        <button onclick="goBack()">Back</button>
    </div>

    <div class="main-content">
        <h1>Create New Password</h1>
    </div>

    <div class="forgot-password-container">
        <section class="content">
                {% if otp_verified %}
                    <form method="post" action="{% url 'resetpassword' %}">
                        {% csrf_token %}

                        <div class="input-field">
                            <label for="new-password">New Password</label>
                            <input id="password" type="password" id="new-password" name="new_password" required>
                        </div>
                        <div class="input-field">
                            <label for="confirm-password">Confirm Password</label>
                            <input id="confirm-password" type="password" id="confirm-password" name="confirm_password" required>
                        </div>
                        <div class="input-container" cta>
                            <label class="checkbox-container">
                                <input type="checkbox">
                                <span class="checkmark"></span>Show Password
                            </label>
                        </div>
                        {% comment %} <input type="hidden" name="email" value="{{ email }}"> {% endcomment %}
                        <button type="submit" class="change-password-button" name="change_password">Change Password</button>
                        <p>Don’t have an account yet? <a href="{% url 'signup' %}" class="hyper-link"><strong>Create New Account</strong></a></p>
                    </form>
                {% endif %}
        </section>
    </div>
</body>
<script>
    // JavaScript function to navigate back in history
    function goBack() {
        window.history.back();
    }


    document.addEventListener('DOMContentLoaded', function () {
        var passwordInput = document.getElementById('password');
        var confirmPasswordInput = document.getElementById('confirm-password');
        var showPasswordCheckbox = document.querySelector('input[type="checkbox"]');

        showPasswordCheckbox.addEventListener('change', function () {
            if (showPasswordCheckbox.checked) {
                passwordInput.type = 'text';
                confirmPasswordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
                confirmPasswordInput.type = 'password';
            }
        });

        setTimeout(function(){
            var msgElement = document.getElementById('msg');
            if (msgElement) {
                msgElement.remove();
            }
        }, 3000);
    });
</script>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <p>Email: paperlify@gmail.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h3>Follow Us</h3>
          <ul>
            <li>
              <a href="#">Facebook</a>
            </li>
            <li>
              <a href="#">Twitter</a>
            </li>
            <li>
              <a href="#">Instagram</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>About Paperlify</h3>
          <p>Paperlify is a text summarization tool using AI. Experience a smarter, faster, and more streamlined approach to information retrieval with Paperlify - where understanding meets efficiency.</p>
        </div>
      </div>
    </div>
  </footer>
</html>
