<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"/>
    <title>Paperlify</title>
</head>
<body>
    <div class="split-screen">
        <div class="left">
            <section class="content">
                <h1>Paperlify</h1>
                <p>Document to Text Summarization AI</p>
            </section>
        </div>

        <div class="right">
            <form>
                <section class="content">
                    <h1>Sign Up</h1>
                </section>

                <div class="input-container fname">
                    <label for="fname">Name</label>
                    <input id="fname" name="fname" placeholder="Enter your full name" type="text">
                </div>

                <div class="input-container email">
                    <label for="email">Email</label>
                    <input id="email" name="email" placeholder="name@gmail.com" type="email">
                </div>

                <div class="input-container password">
                    <label for="password">Password</label>
                    <input id="password" name="password" placeholder="Must be atleast 6 characters" type="password">
                    <i class="far fa-eye-slash"></i>
                </div>

                <div class="input-container confirm-password">
                    <label for="confirm-password">Confirm Password</label>
                    <input id="confirm-password" name="confirm-password" placeholder="Re-enter your password" type="password">
                    <i class="far fa-eye-slash"></i>
                </div>

                
                <button class="login-btn" type="submit">Sign Up</button>
                <div class="login-container">
                       <p>Already have an account?<a href="./login"><strong>Login</strong></a></p> 
                    </div>
                    
            </form>
        </div>
    </div>
</body>
</html>