<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/dashstyle.css"/>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="./static/images/Paperlify Logo Blue.png">
    <title>Paperlify | Signup</title>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var passwordInput = document.getElementById('password');
            var confirmPasswordInput = document.getElementById('confirm-password');
            var showPasswordCheckbox = document.querySelector('input[type="checkbox"]');

            showPasswordCheckbox.addEventListener('change', function () {
                if (showPasswordCheckbox.checked) {
                    passwordInput.type = 'text';
                    confirmPasswordInput.type = 'text';
                } else {
                    passwordInput.type = 'password';
                    confirmPasswordInput.type = 'password';
                }
            });

            setTimeout(function(){
                var msgElement = document.getElementById('msg');
                if (msgElement) {
                    msgElement.remove();
                }
            }, 3000);
        });

    </script>

</head>
<body class="login-body">
    <div class="split-screen">
        <div class="left">
            <div class="logo-container">
                <img src="./static/images/Paperlify Logo.png" alt="Paperlify Logo">
            </div>
            <section class="content">
                <h1>Paperlify</h1>
                <p>Document to Text Summarization AI</p>
            </section>
        </div>

        <div class="right">
            <form action="" method="POST" class="signup-form">
            {% csrf_token %}

            {% comment %} {% if error %}
                <div class="alert alert-danger m-2 alert-dismissible fade show " role="alert" id="msg">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif success %}
                <div class="alert alert-success m-2 alert-dismissible fade show " role="alert" id="msg">
                    <strong>Yay! </strong>{{ success }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %} {% endcomment %}

            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger m-2 alert-dismissible fade show " role="alert" id="msg">
                <strong>Oopsie! </strong>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- <div class="error-message">{{ message }}</div> -->
                {% elif message.tags == 'success' %}
                <div class="alert alert-success m-2 alert-dismissible fade show " role="alert" id="msg">
                <strong>Yay! </strong>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% elif message.tags == 'info' %}
                <div class="alert alert-info m-2 alert-dismissible fade show " role="alert" id="msg">
                <strong>Info: </strong>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- <div class="success-message">{{ message }}</div> -->
                {% endif %}
            {% endfor %}
            {% endif %}
                
                <section class="content">
                    <h1>Sign Up</h1>
                </section>

                <div class="input-container fname">
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="Enter your username" type="text">
                </div>

                <div class="input-container fname">
                    <label for="fname">Name</label>
                    <input id="fname" name="fname" placeholder="Enter your full name" type="text">
                </div>

                <div class="input-container email">
                    <label for="email">Email</label>
                    <input id="email" name="email" placeholder="name@gmail.com" type="email">
                </div>

                <div class="input-container password">
                    <label for="password">Password</label>
                    <input id="password" name="password" placeholder="Must be atleast 6 characters" type="password">
                    {% comment %} <i class="uil uil-eye-slash"></i> {% endcomment %}
                </div>

                <div class="input-container confirm-password">
                    <label for="confirm-password">Confirm Password</label>
                    <input id="confirm-password" name="confirm_password" placeholder="Re-enter your password" type="password">
                    {% comment %} <i class="uil uil-eye-slash"></i> {% endcomment %}
                </div>

                <div class="input-container" cta>
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span> Show Password
                    </label>
                </div>
                <p>By signing up, you agree to our <a href="{% url 'terms_conditions' %}" class="hyper-link"><strong>Terms and Conditions</strong></a></p>

                <button class="login-btn" type="submit">Sign Up</button>
                <p>Already have an account? <a href="{% url 'login' %}" class="hyper-link"><strong>Login</strong></a></p>
            </form>
        </div>
    </div>
</body>
</html>